form {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    font-size: 20px;   
}
label, input[type="date"], select, button {
    width: fit-content;
}
input, select, button, textarea, label ~ div {
    margin-bottom: 30px;
    border-radius: 7px;
    border: 1px #c5c5c5 solid;
    padding: 5px;
}
input:focus, select:focus, textarea:focus {
    outline-color: var(--green);
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"] {
    max-width: 40%;
}
input[type="datetime-local"] {
    min-width: 250px;
    max-width: 20%;
}
textarea {
    max-width: 50%;
    min-height: fit-content;
}
select {
    background-color: white;
}
button {
    padding: 10px 30px;
    background-color: var(--green);
    color: white;
    border: none;
    font-weight: bold;
}
label ~ div {
    display: grid;
    grid-template: repeat(auto-fill, 1fr) / repeat(2, 1fr);
    width: fit-content;
    height: fit-content;
    column-gap: 20px;
    row-gap: 25px;
    padding: 10px;
}

label ~ div > * {
    margin: 0;
}
label ~ div > input {
    grid-column: 1 / 2;
}
label ~ div > label {
    grid-column: 2 / 3;
    font-weight: normal;
}