@font-face {
    font-family: roboto;
    src: url(../res/font.ttf);
}
:root {
    --green: #30be62;
    --light-green: #dfffea; 
    --hover-green: #c8f8d9;
}
body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
    max-width: 100vw;
    font-family: roboto, sans-serif;
}

aside, main {
    display: flex;
    flex-direction: column;
}
aside {
    background-color: var(--light-green);
    padding: 15px;
    gap: 15px;
}

section {
    padding: 15px;
}

section > * {
    border-radius: 15px;
}
section > div {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 10px;
}
.action, .project {
    margin-left: 20px;
    font-size: 20px;
}
.action:hover, .project:hover {
    background-color: var(--hover-green);
}
.project {
    display: grid;
    grid-template-columns: 30px 1fr repeat(2, 30px);
}

section > div > * {
    margin: 0;
}
section > div > img {
    width: 30px;
    height: 30px;
}

main {
    padding: 45px;
}

main > * {
    margin: 0;
    padding: 20px;
}